.menu-page {
    text-align: center;
    padding: 50px;
  }
  
  .menu-page h1 {
    font-size: 2.5rem;
    color: #4b2e83;
  }
  
  .menu-page ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    margin-top: 20px;
  }
  