.home {
    text-align: center;
    padding: 50px;
  }
  
  .menu-button {
    background-color: #4b2e83;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .menu-button:hover {
    background-color: #3a206a;
  }
  